{% extends "base.html" %}

{% block content %}
<h2>Exercises</h2>

<form method="POST">
    <input type="text" name="exercise_name" placeholder="Exercise name" required>
    <input type="text" name="muscle_group" placeholder="Muscle group">
    <input type="text" name="equipment_type" placeholder="Equipment type">
    <button type="submit">Add Exercise</button>
</form>

<h3>Existing Exercises</h3>
<ul>
    {% for exercise in exercises %}
        <li>{{ exercise.exercise_name }} - {{ exercise.muscle_group }} - {{ exercise.equipment_type }}</li>
    {% endfor %}
</ul>
{% endblock %}